// 支持es4语法
var filter = {
  numberToFixed: function (value) {
    var num;
    if (value == null) {
      num = ''
    } else {
      num = (Math.floor(parseFloat(value) * 100) / 100)
    }
    return num
  },
  toFixed: function (value) {
    var number
    if (value == null) {
      number = ''
    } else {
      number = (value*1).toFixed(2)
    }
    return number
  },
  toFixed2: function (value) {
    return parseInt(value.toFixed(2).replace(".", ""))
  },
  stringTrim: function (value) {
    return value.trim()
  },
  // 小数点前
  pointBefore: function (x) {
    var price = x.toString()
    if (price && price.indexOf(".") != -1) {
      return price.substring(0, price.indexOf("."))
    } else {
      return price;
    }

  },
  // 小数点跟小数点后
  pointAfter: function (x) {
    if (typeof (x) == 'string') {
      var x = parseFloat(x)
    }
    var price = x.toFixed(2).toString()
    if (price && price.indexOf(".") != -1) {
      return price.substring(price.indexOf("."), price.length)
    } else {
      return ".00";
    }
  }
}
// 导出对外暴露的属性
module.exports = {
  numberToFixed: filter.numberToFixed,
  stringTrim: filter.stringTrim,
  toFixed: filter.toFixed,
  toFixed2: filter.toFixed2,
  pointBefore: filter.pointBefore,
  pointAfter: filter.pointAfter
}